/* bus_search_clear */
.rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
    right: 30px;
    display: none;
}

/* bus_search_clear */

/* date picker */
.rs-picker-date .rs-picker-toggle.rs-btn, .rs-picker-daterange .rs-picker-toggle.rs-btn {
    padding-right: 36px;
    background: #fff;
    padding-bottom: 13px;
}
/* date picker */

.rs-picker-menu {
    text-align: center;
}
.flight_form {
    margin-top: 10px;
}
.search_button {
    margin-top: 30px;
}
.rs-picker-select-menu-item{
    font-family: Cairo;
}
.body {
    font-family: Cairo !important;
  }
.remark_text_area {
    min-height: 70px;
}
.my_bus_booking{
    min-height: 100px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}
.my_bus_booking .bus_traveller_name {
    color: green;
}
.my_bus_booking .bus_booking_view_detial{
    margin-left: auto;
    margin-top: 10px;
}
.bus_booking_heading{
    font-weight: bold;
    color: #ff0000;
}
.bus_booking_detial_div{
    min-height: 600;
    background-color: #f2f2f2;
}
.bus_booking_detial_div .detial_name {
    color: grey;
}
.bus_booking_detial_div .detial_value {
    color: #000;
}
.bus_booking_detial_loader {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.flight_booking_list{
 background: #f2f2f2;
min-height: 180px;
margin-bottom: 10px;
}
.flight_booking_list .heading{
    font-weight: bold;
    font-size: 18px;
    color: green;
}
.flight_booking_list .travellername {
    color: brown;
    font-size: 14px;
}
.flight_booking_list .status_pending {
    color: red;
}
.flight_booking_list .status_success {
    color: green;
}
.rs-divider-horizontal {
    height: 1px;
    margin: 15px 0;
}
.flight_booking_list .flight_d_action_button{
    margin-top: 10px;
}
.ds_transaction_div{
    background-color: #f2f2f2;
    min-height: 100px;
    margin-bottom: 10px;
}
.ds_transaction_div .heading{
    font-size: 16px;
    font-weight: bold;
    color: green;
}
.ds_transaction_div .status_success {
    color: green;
}
.ds_transaction_div .status_pending {
    color: red;
}
.flight_product_list{
    background-color: #f2f2f2;
    margin-bottom: 10px;
}
.flight_products_heading {
    color: green;
   font-weight: bold;
   font-size: 14px;
}
.flight_product_panel .segments {
  margin-bottom: 10px;
}
.flight_product_panel .segments .logo_text .text{
  font-size: 14px;
  color: black;
}
.flight_product_panel .segments .deptime{
  margin-top: 5px
}
.flight_product_panel .segments .depname .time {
  color: grey !important;
  font-size: 10px !important;

}
.flight_product_panel .segments .depname .stop {
  color: tomato !important;
  font-size: 10px !important;

}
.flight_product_panel .segments .depname  {
  color: brown;
  font-size: 14px;

}
.flight_product_panel .segments .deptime .time{
  color: grey !important;
  font-size: 10px !important;

}
.flight_lising_pricing .price_tags{
  font-size: 18px;
 font-weight: bold;
 color: black;
 margin-bottom: 5px;
}
.flight_lising_pricing .option{
  font-size: 10px;
 color: grey;
 margin-bottom: 10px;
}
.flight_select_action_button .select_button{
  margin-top: 10px;
}
.flight_select_action_button .farerule{
  margin-bottom: 10px;
}
.flight_rules .farerules .heading_div .heading{
  font-size: 18px;
  color: green;
  font-weight: bold;
}
.flight_rules .fareRules .body .category {
  color: black;
}
.flight_rules .fareRules .body .text {
  color: grey;
  text-transform: 'none';
}
.flight_booking_loader{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 60vh;
}
.flight_booking_loader .text {
  display: block;
  font-size: 14px;
  color:grey;
}
.flight_booking_root_div .flight_booking_title{
  font-size: 18px;
  font-weight: bold;

}
.flight_warning_icon{
  text-align: center;
  margin-bottom: 14px;
  color: orange;
}
.flight_warning_text{
  color: grey;
  font-size: 14px;
}
.message_div .body_text{
 margin-bottom: 10px;
}
.rates .sell_label{
  font-size: 10px;
  color: green;
}
.rates .buy_label{
  font-size: 10px;
  color: #ff0000;
}
.rates .usd_value{
  font-size: 10px;
  color: brown;
}
.rates .usd_label{
  font-size: 10px;
  color: brown;
}
.rates .sell_value{
  font-size: 10px;
  color: green;
}
.rates .buy_value{
  font-size: 10px;
  color: #ff0000;
}
.rates{
  margin-top: 10px;
}
.flight_booking_offline .view_booking{
  margin-top: 10px;
}
.flight_booking_offline:{
  padding:10px
}
.travelers{
  margin:10px;
}
.travelers_input{
  min-height: 36px;
  display: block;
  width: 100%;
}
.travelers_input_date{
  min-height: 34px;
  width: 100%
}
.traveler_form_group{
  margin-bottom: 14px;
}
.traveler_next_button{
  margin-left: 12px;
}
.travelers_select{
  display: block;
  width: 100%;
}
.flight_contact_input{
  max-height: 36px;
margin-top: 5px;
}
.flight_contact_select{
  display: block;
width: 100%;
margin-top: 5px;
}
.flight_next_button{
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.flight_previous_button{

  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.review_travelers{
  background: #f2f2f2;
  margin-top: 15px;
}
.flight_booking_review_flight_booking_review_label{
  line-height: 2;
  color: #444;
}

.custom-timeline {
  margin-left: 20px;
  margin-top: 20px;
}

.rs-timeline-align-left .rs-timeline-item-dot {
  position: absolute;
  background: #fff;
  top: 0;
  left: -2px;
  border: 2px solid #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  padding-top: 6px;
  color: #999;
  margin-left: -13px;
}

.rs-timeline-item-content {
  margin-left: 24px;
}
.flight_choosed_package_text_heading{
  font-size: 12px;
  font-weight: bold;
  color: green;
}
.flight_choosed_package_text{
  font-size: 10px;
  color: #333333;
}
.flight_choosed_package{
  background: #f2f2f2;
  margin-bottom: 10px;
  margin-top: 10px;
}
.flight_contact_form{
  margin-bottom: 10px;
  
}
.flight_booking_back_button {
  margin-left: auto;
  display: flex;
}
